@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
}

:root {
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
}

body {
  @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
}

